.snackbar-box {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

  * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form > label {
    display: flex;
    flex-direction: column;
}

input[type='number'] {
    border: 1px solid #808080;
    border-radius: 4px;
    max-width: 360px;
    min-height: 40px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
}

input[type='number']:hover {
    border: 1px solid #000;
}

input[type='number']:focus {
    border: 1px solid #4e75ff;
}

.form > button[type='submit'] {
    margin-top: 24px;
    font-weight: 500;
    color: #fff;
    background: #4e75ff;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
}

.form > button[type='submit']:hover {
    background: #6c8cff;
}

fieldset {
    border-radius: 4px;
    stroke-width: 1px;
    width: 360px;
    height: 78px;
    box-sizing: border-box;
    padding: 12px 28px;
}

input[value='fulfilled'] {
    margin-left: 20px;
}

input[value='rejected'] {
    margin-left: 48px;
}